<div class="fakeloader"></div>
<div class="class_page ng-cloak">
	<div ng-repeat="list in article_list " class="list">
		<div class="d_title">
			<a href="#/read_article/{{list.objectId}}">{{list.title}}</a>
		</div>
		<div class="d_time">
			<h5 class="d21">作者：JHL 時間：{{list.createdAt| date : 'yyyy-MM-dd hh:mm'}}  標籤：
				<span class="glyphicon glyphicon-tags" aria-hidden="true"></span> 
				 <a>&nbsp;{{list.class}}</a>
			</h5>
		</div>	
		<div class="d_article">
			<div  class="hiddenOverFlow d31" ng-bind-html="trustAsHtml(list.article)" >
			</div>
		</div>
		<div class="d_read">
			<a href="#/read_article/{{list.objectId}}" analytics-on="click" analytics-event="{{list.title}}" analytics-event="點擊文章" analytics-label="{{list.title}}"><p>...閱讀全文</p></a>
		</div>	
	</div>
	<div class="row bottom_page">
      <div class="bottom_page_center">
        <ul class="pagination pagination" ng-repeat="list in page">
        <li><a ng-click="photopage(list.page)">{{list.page}}</a></li>
      </ul>
      </div>
    </div>
</div>
<script>  
      $(document).ready(function(){
          $(".fakeloader").fakeLoader({
              timeToHide:600,
              bgColor:"#666",
              spinner:"spinner1"
          });
      });
</script>	    