<div class="fakeloader"></div>
<div class="class_page " ng-if="iflimit>'0'">
	<div ng-repeat="list in article_list " class="list">
		<div class="d_title">
			<a href="#/read_article/{{list.objectId}}">{{list.title}}</a>
		</div>
		<div class="d_time">
			<h5 class="d21">作者：JHL 時間：
			</h5>
			<h5 bo-text="list.createdAt| date : 'yyyy-MM-dd hh:mm'"></h5>
			<h5>標籤：
				<span class="glyphicon glyphicon-tags" aria-hidden="true"></span> 
				 <a href="#/class_page/{{list.class}}">&nbsp;{{list.class}}</a>
			</h5>
		</div>	
		<div class="d_article">
			<div  class="hiddenOverFlow d31" ng-bind-html="trustAsHtml(list.article)" >
			</div>
		</div>
		<div class="d_read">
			<a href="#/read_article/{{list.objectId}}" analytics-on="click" analytics-event="{{list.title}}" analytics-event="點擊文章" analytics-label="{{list.title}}"><p>...閱讀全文</p></a>
		</div>	
	</div>
	<div class="row bottom_page">
      <div class="bottom_page_center">
        <ul class="pagination pagination" ng-repeat="list in page">
        <li><a ng-click="photopage(list.page)">{{list.page}}</a></li>
      </ul>
      </div>
    </div>
</div>
<div class="class_page " ng-if="iflimit=='0'">
	<div style="text-align:center;margin-top:20%;">
		<h1>Sorry...目前無相關文章</h1>
	</div>
</div>
<script>  
      $(document).ready(function(){
          $(".fakeloader").fakeLoader({
              timeToHide:600,
              bgColor:"#666",
              spinner:"spinner1"
          });
      });
</script>	    