<div class="home">
	<div ng-repeat="list in article_list " class="list">
		<div class="d_title">
			<a href="#/read_article/{{list.objectId}}">{{list.title}}</a>
		</div>
		<div class="d_time">
			<h5 class="d21">作者：JHL 時間：{{list.createdAt| date : 'yyyy-MM-dd hh:mm'}}  標籤：
				<span class="glyphicon glyphicon-tags" aria-hidden="true"></span> 
				 <a href="#/class_page/{{list.class}}">{{list.class}}</a>
			</h5>
		</div>	
		<div class="d_article">
			<div class="hiddenOverFlow " ng-bind-html="trustAsHtml(list.article)" >
			</div>
		</div>
		<div class="d_read">
			<p><a href="#/read_article/{{list.objectId}}" analytics-on="click" analytics-event="list.title" >...閱讀全文</a></p>
		</div>	
	</div>
	<div class="row bottom_page">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <ul class="pagination pagination" ng-repeat="list in page">
        <li><a ng-click="photopage(list.page)">{{list.page}}</a></li>
      </ul>
      </div>
      <div class="col-md-2">
      </div>
  </div>
</div>
    
 