<div class="login ">
	<div class="row">
	  <div class="col-md-4 admin_png">
		<img src="img/Admin.png" alt="載入中～" class="img-circle">
	  </div>
	  <div class="col-md-8 admin_form">		
		<form class="admin_from_in" ng-submit="login(username,password)">	
		  <div class="form-group">
		    <label for="exampleInputEmail1">Username</label>
		    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Username" ng-model="username" >
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Password</label>
		    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="password">
		  </div>
		  <button type="submit" class="btn btn-default">login</button>
		</form>
	   </div>
	</div>
	<div id="myModal" class="modal fade bs-example-modal-sm tip" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-sm" data-dismiss="modal" aria-label="Close">
	    <div class="modal-content">
	    	<div class="row">
	            <div class="col-md-12">
			        <div class="admin_png">	
			     		<img src="img/images.jpeg" alt="載入中～" class="img-rounded ">
	            	</div>
	            </div>
	        </div>
	    </div>
	  </div>
	</div>   	
</div>

<!-- Large modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Large modal</button> -->

