
<div class="photo">
	<div class="load">
		<div class="form-group from1">
		    <label for="exampleInputFile">選擇上傳圖片</label>
		    <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
		</div>
		<div class="btn2">
			<button type="button" id="myButton" data-loading-text="Loading..." class="btn btn-primary " ng-click="uploadFile2()" autocomplete="off">
			  Upload
			</button>
		</div>
	</div>	
	<div class="row img_view">
		  <div class="col-md-4 img_view_1" ng-repeat="list in page_photo">
				<span class="glyphicon glyphicon-remove-circle" aria-hidden="true" ng-click="delete_re_tip(list.objectId,list.name)"></span>
		  		<div class="blush">
		  			<a href= "{{list.url}}" target=_blank >
					<img src="{{list.url}}" alt="載入中～" class="img-rounded" width="200" height="200">
					<a/>
				</div>
				<p>{{list.name}}</p>
				<!-- <span class="glyphicon glyphicon-time" aria-hidden="true">{{list.createdAt| date : 'yyyy-MM-dd hh:mm'}}</span> -->		
		  </div>
	</div>
	<div class="row bottom_page">
		  <div class="bottom_page_center">
		  		 <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" ng-click="photopage(bigCurrentPage)"></pagination> 
<!-- 		  	<ul class="pagination pagination" ng-repeat="list in page">
			  <li><a href="#" ng-click="photopage(list.page)">{{list.page}}</a></li>
			</ul> -->
		  </div>
	</div>

</div> 

<div id="myModal" class="modal fade bs-example-modal-sm tip" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabel">刪除照片</h4>
        </div>
        <div class="modal-body" >
          <div class="tip_c_1"> 
             <div class="tip_c_2">
             <p >確定刪除『 {{de_title}} 』照片嗎？</p>
             </div>
          </div>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deletephoto()">delete</button>	
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>	


  


