.out{
	background-color: #ccc !important;
	width:85%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom:1%;
	margin-top:-1%;
	@media screen and (min-width: 1500px) {
		margin-top:2%;
	}
	.blush{			
		width:200px;
	  	margin-right: auto;
	  	margin-left: auto;
	  	margin-top:2%;
	  	margin-bottom:1%; 
	  	@media screen and (min-width: 1500px) {
			margin-top:4%;
		}
	  	img{
	  		width:180px;
			height:180px;
	  	}
	  	h1{
	  	 	text-align:center;
	  	}

	}
	.about_web{
		width:300px;
		margin-top:-2%;
		@media screen and (min-width: 1500px) {
			margin-bottom:5%;
		}
		margin-right: auto;
	  	margin-left: auto;
	}
}