.out{
	background-color: #ccc !important;
	width:70%;
	margin-right: auto;
	margin-left: auto;
	.blush{			
		width:200px;
	  	margin-right: auto;
	  	margin-left: auto;
	  	margin-top:2%;
	  	margin-bottom:2%; 
	  	img{
	  		width:200px;
			height:200px;
	  	}

	}
	.about_web{
		h1{
	  	 	text-align:center;
	  	}
		width:300px;
		margin-top:2%;
		margin-right: auto;
	  	margin-left: auto;
	}
}