.out{
	.blush{
		width:200px;
		// height:300px;
	  	margin-right: auto;
	  	margin-left: auto;
	  	margin-top:2%;
	  	img{
	  		width:200px;
			height:200px;
	  	}

	}
	.about_web{
		h1{
	  	 	text-align:center;
	  	}
		width:300px;
		margin-top:2%;
		margin-right: auto;
	  	margin-left: auto;
	}
}