// This file must be imported before loading html5-boilerplate

// base
$line-height: 1.4 !default;
$font-color: #222 !default;

$link-color: #00e !default;
$link-hover-color: #06e !default;
$link-visited-color: #551a8b !default;

$selected-font-color: #fff !default;
$selected-background-color: #ff5e99 !default;

$invalid-background-color: #f0dddd !default;

body {
  // background-image:url(http://files.parsetfss.com/94c0de81-23b3-4a8c-842f-d063b93005c3/tfss-129c5e49-c6ba-447b-accd-d75e68294ec0-balance-865079_1280.jpg);
  background-image:url(../images/background.jpg);
  opacity: 0.95;
  background-size:  100%;
  	 p{
	 	background-color:rgba(255, 255, 255, 0) !important;
		span{
			background-color:rgba(255, 255, 255, 0) !important;
			em{
				background-color:rgba(255, 255, 255, 0) !important;
			} 
		}
	 }
}

