// This file must be imported before loading html5-boilerplate

// base
$line-height: 1.4 !default;
$font-color: #222 !default;

$link-color: #00e !default;
$link-hover-color: #06e !default;
$link-visited-color: #551a8b !default;

$selected-font-color: #fff !default;
$selected-background-color: #ff5e99 !default;

$invalid-background-color: #f0dddd !default;

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position:left top;
  background-image:url(http://files.parsetfss.com/94c0de81-23b3-4a8c-842f-d063b93005c3/tfss-129c5e49-c6ba-447b-accd-d75e68294ec0-balance-865079_1280.jpg);
     @media screen and (min-width: 1200px) {
    // 如果使用者之視窗寬度 >= 1200px，將會再載入這裡的 CSS。
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:left top;
    background-image:url(http://files.parsetfss.com/94c0de81-23b3-4a8c-842f-d063b93005c3/tfss-129c5e49-c6ba-447b-accd-d75e68294ec0-balance-865079_1280.jpg);

    }

    @media screen and (min-width: 768px) and (max-width: 979px) {
        // 如果使用者之視窗寬度介於 768px ~ 979px，將會再載入這裡的 CSS。
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-position:left top;    
     background-image:url(http://files.parsetfss.com/94c0de81-23b3-4a8c-842f-d063b93005c3/tfss-129c5e49-c6ba-447b-accd-d75e68294ec0-balance-865079_1280.jpg);
      
    }

    @media screen and (max-width: 767px) {
        // 如果使用者之視窗寬度 <= 768px，將會再載入這裡的 CSS。  
        background-image:url(http://files.parsetfss.com/94c0de81-23b3-4a8c-842f-d063b93005c3/tfss-129c5e49-c6ba-447b-accd-d75e68294ec0-balance-865079_1280.jpg);
        background-repeat: repeat;
    }

    @media screen and (max-device-width: 480px) {
        // 如果使用者之裝置寬度 <= 480px，將會再載入這裡的 CSS。 
        background-image:url(http://files.parsetfss.com/94c0de81-23b3-4a8c-842f-d063b93005c3/tfss-129c5e49-c6ba-447b-accd-d75e68294ec0-balance-865079_1280.jpg);
        background-repeat:repeat;
    }

  // background-image:url(https://dl.dropboxusercontent.com/u/114780077/bg/balance-865079.jpg);
  opacity: 0.95;
  background-size:  100%;
  padding-top: 70px; 
  	 p{
	 	background-color:rgba(255, 255, 255, 0) !important;
		span{
			background-color:rgba(255, 255, 255, 0) !important;
			em{
				background-color:rgba(255, 255, 255, 0) !important;
			} 
		}
	 }
}

#myModal{
	margin-top:20%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
