.home{
	margin-top:0.5%;
	.list{
		// border-bottom: 1px dashed #dcdcdc;
		margin-bottom:2%;
		padding:1%;
	    filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696',Direction=135, Strength=5);/*for ie6,7,8*/  
 
    	background-color: #ccc !important;	    
	    // -moz-box-shadow:4px 4px 10px 2px #969696;/*firefox*/  
	    // -webkit-box-shadow:4px 10px 5px 2px #969696;/*webkit*/  
	    // box-shadow:4px 4px 10px 2px #969696;/*opera或ie9*/  

		.d_title{
			a{
			color: #369;
			font-size: 24px;
			height: 32px;
			line-height: 32px;
			font-weight: normal;
			}	
		}
		.d_time{
			color: #666;
		    line-height: 26px;
		    h5{
		    	display:inline-block;
		    }
		}
		.d_article{
		    
		
		}
		.d_read{
			color: #666;
		    // line-height: 26px;
			text-align:right;
			margin-right:5%;
			font-style: italic;
		}
	}
	.bottom_page{
		.bottom_page_center{
			width: 80%;
			text-align:center;
			margin-left: auto;
			margin-right: auto;
		}
	}
}




.hiddenOverFlow {
   // width:200px;
   height:100px;   
   overflow:hidden;         /*--設定超出的內容隱藏, IE, FireFox通用--*/
   text-overflow:ellipsis;  /*--(IE專用)在內容超出時,在後方補上逗號--*/
   white-space:nowrap; /*-- 設定內容強制顯示一行,直到內容結束或<br>--*/
}