.login{
	margin-top:5%;
		.admin_png{
			// background-color:black;
			margin-right: auto;
	  		margin-left: auto;
	  		text-align : center;
	  			img{
	  				height:300px;
	  				weight:300px;
	  			}
		}
		.admin_form{
			// background-color:red;	
			margin-right: auto;
	  		margin-left: auto;
	  		height:300px;
	  			.admin_from_in{
	  				margin-top:60px;
	  			}
		}
		.tip{
			margin-top:12%;
		}
}