@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body {
	// background-color: #f0f0f0 !important;
}

#container {
}

header {}

#main {}

footer {
	  position: fixed;
	  height:10%;
	  width: 100%;
	  bottom: 0;
	  z-index: -1;
	  background-color:#CCC;
	  border-top: 1px solid #FFF;
	  margin-top:10px; 
	  padding: 20px;
	  text-align: center;
	  font-size: 14px;
	  line-height: 2;
	  color: #666;
	  text-shadow: 1px 1px 1px #FFF;
}
