.photo{
	.load{
		margin-bottom:3%;
		.from1{
			display:inline-block;
		}
		.btn2{
			display:inline-block;
		}
	}
	.img_view{
		.img_view_1{
			border: 1px dashed #dcdcdc;
			text-align:center;
		}
	}
	.bottom_page{
		text-align:center;
	}
}