.photo{
	background-color: #ccc !important;
	padding:5%;
	margin-bottom:6%;	
	.load{
		margin-bottom:3%;
		.from1{
			display:inline-block;
		}
		.btn2{
			display:inline-block;
		}
	}
	.img_view{
		.img_view_1{
			border: 1px dashed black;
			text-align:center;
			span{
			margin-top:3%;
			}
		}
	}
	.bottom_page{
		text-align:center;
	}
}