.read_article{
	.list{
		// border: 1px dashed #dcdcdc;
		margin-bottom:1%;
		margin-top:1%;
		padding: 5% 5% 2% 5%;
	    filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696',Direction=135, Strength=5);/*for ie6,7,8*/  
    	// background-color: #ccc;  
	    -moz-box-shadow:4px 4px 10px 2px #969696;/*firefox*/  
	    -webkit-box-shadow:4px 10px 5px 2px #969696;/*webkit*/  
	    box-shadow:4px 4px 10px 2px #969696;/*opera或ie9*/ 

		.d_title{
			text-align:center;
			padding-bottom:5%;
			.h1{
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			font-weight: 500;
			line-height: 1.1;
			}	
		}
		.d_time{
			text-align:right;
			color: #666;
		    line-height: 26px;
		    padding-bottom:0%;
		}
		.d_article{

		}
	}
	.message_post{
		margin: 5% 10% 0% 10%;
		text-align:right;
	}
	.message_list{
		textarea {
		  // height:100px;
		  width:90%;
		  border : 0;
		  overflow-y : auto; /* IE */
		  resize : none; /* Firefox, Chrome */
		}
		textarea:focus {
		  outline : 0; /* Chrome */
		}	
		.message_item{
			padding-bottom:1%;
		}
	}
img{
  display: inline-block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

}







