.read_article{
	.list{
		border: 1px dashed #dcdcdc;
		margin-bottom:1%;
		padding: 2% 10% 2% 10%;

		.d_title{
			text-align:center;
			padding-bottom:5%;
			.h1{
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			font-weight: 500;
			line-height: 1.1;
			}	
		}
		.d_time{
			text-align:right;
			color: #666;
		    line-height: 26px;
		    padding-bottom:0%;
		}
		.d_article{

		}
	}
	.message_post{
		margin: 0% 10% 0% 10%;
		text-align:right;
	}
	.message_list{
		textarea {
		  // height:100px;
		  width:80%;
		  border : 0;
		  overflow-y : auto; /* IE */
		  resize : none; /* Firefox, Chrome */
		}
		textarea:focus {
		  outline : 0; /* Chrome */
		}	
		.message_item{
			padding-bottom:1%;
		}
	}

}





